ProduceManager/Service References/PrdManager/ShareWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUpdateFileVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateFileVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateFileVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateFileByte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateFileByteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateFileByteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileReadResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BigImgUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmallImgUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RecentSmallImgUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RecentBigImgUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RecentOrgImgUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileSaveResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExecStoredProc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSqlSPName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParaKeys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParaVals" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strRetType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecStoredProcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecStoredProcResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableByStoredProc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSqlSPName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParaKeys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParaVals" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableByStoredProcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableByStoredProcResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetByStoredProc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strConnectionString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSqlSPName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParaKeys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParaVals" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetByStoredProcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetByStoredProcResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdateFileVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateFileVersion" />
  </wsdl:message>
  <wsdl:message name="GetUpdateFileVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateFileVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateFileByteSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateFileByte" />
  </wsdl:message>
  <wsdl:message name="GetUpdateFileByteSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateFileByteResponse" />
  </wsdl:message>
  <wsdl:message name="FileReadSoapIn">
    <wsdl:part name="parameters" element="tns:FileRead" />
  </wsdl:message>
  <wsdl:message name="FileReadSoapOut">
    <wsdl:part name="parameters" element="tns:FileReadResponse" />
  </wsdl:message>
  <wsdl:message name="FileSaveSoapIn">
    <wsdl:part name="parameters" element="tns:FileSave" />
  </wsdl:message>
  <wsdl:message name="FileSaveSoapOut">
    <wsdl:part name="parameters" element="tns:FileSaveResponse" />
  </wsdl:message>
  <wsdl:message name="ExecStoredProcSoapIn">
    <wsdl:part name="parameters" element="tns:ExecStoredProc" />
  </wsdl:message>
  <wsdl:message name="ExecStoredProcSoapOut">
    <wsdl:part name="parameters" element="tns:ExecStoredProcResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableByStoredProcSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableByStoredProc" />
  </wsdl:message>
  <wsdl:message name="GetTableByStoredProcSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableByStoredProcResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetByStoredProcSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSetByStoredProc" />
  </wsdl:message>
  <wsdl:message name="GetDataSetByStoredProcSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetByStoredProcResponse" />
  </wsdl:message>
  <wsdl:portType name="ShareWSSoap">
    <wsdl:operation name="GetUpdateFileVersion">
      <wsdl:input message="tns:GetUpdateFileVersionSoapIn" />
      <wsdl:output message="tns:GetUpdateFileVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFileByte">
      <wsdl:input message="tns:GetUpdateFileByteSoapIn" />
      <wsdl:output message="tns:GetUpdateFileByteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileRead">
      <wsdl:input message="tns:FileReadSoapIn" />
      <wsdl:output message="tns:FileReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileSave">
      <wsdl:input message="tns:FileSaveSoapIn" />
      <wsdl:output message="tns:FileSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecStoredProc">
      <wsdl:input message="tns:ExecStoredProcSoapIn" />
      <wsdl:output message="tns:ExecStoredProcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableByStoredProc">
      <wsdl:input message="tns:GetTableByStoredProcSoapIn" />
      <wsdl:output message="tns:GetTableByStoredProcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByStoredProc">
      <wsdl:input message="tns:GetDataSetByStoredProcSoapIn" />
      <wsdl:output message="tns:GetDataSetByStoredProcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShareWSSoap" type="tns:ShareWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateFileVersion">
      <soap:operation soapAction="http://tempuri.org/GetUpdateFileVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFileByte">
      <soap:operation soapAction="http://tempuri.org/GetUpdateFileByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileRead">
      <soap:operation soapAction="http://tempuri.org/FileRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileSave">
      <soap:operation soapAction="http://tempuri.org/FileSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecStoredProc">
      <soap:operation soapAction="http://tempuri.org/ExecStoredProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableByStoredProc">
      <soap:operation soapAction="http://tempuri.org/GetTableByStoredProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByStoredProc">
      <soap:operation soapAction="http://tempuri.org/GetDataSetByStoredProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShareWSSoap12" type="tns:ShareWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateFileVersion">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateFileVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateFileByte">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateFileByte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileRead">
      <soap12:operation soapAction="http://tempuri.org/FileRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileSave">
      <soap12:operation soapAction="http://tempuri.org/FileSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecStoredProc">
      <soap12:operation soapAction="http://tempuri.org/ExecStoredProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableByStoredProc">
      <soap12:operation soapAction="http://tempuri.org/GetTableByStoredProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetByStoredProc">
      <soap12:operation soapAction="http://tempuri.org/GetDataSetByStoredProc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShareWS">
    <wsdl:port name="ShareWSSoap" binding="tns:ShareWSSoap">
      <soap:address location="http://192.168.16.100:8081/ShareWS/ShareWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ShareWSSoap12" binding="tns:ShareWSSoap12">
      <soap12:address location="http://192.168.16.100:8081/ShareWS/ShareWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>